
<div class="cont" [@dimBox]="studentformshow ? 'dimmed' : 'notDimmed'">

 

 
  
  <mat-toolbar>

    <span>App</span>
    <span class="example-spacer"></span>
    <input style="margin-right: 30px; float: right;" type="text" #clgName placeholder="Collage Name">
    <button style="margin-right: 30px; float: right;" mat-raised-button color="primary"
      (click)="addClg(clgName.value)">Add Collage</button>
    <button style="margin-right: 30px; float: right;" mat-raised-button color="primary" (click)="displaystdform()">Add
      Students</button>

  </mat-toolbar>



  <table class="table collagetable">
    <thead>
      <tr>
        <th style="width: 50px; text-align: center;" scope="col">ID</th>
        <th scope="col" colspan="3">Collage Name</th>

      </tr>
    </thead>
    <tbody *ngFor="let prod of data">
      <tr>
        <!-- <td style="width: 50px; text-align: center;">{{prod.id}}</td> -->

        <td>{{prod.id}}</td>
        <td *ngIf="prod.id!=editclgnameid">{{prod.title}}</td>
        <td *ngIf="prod.id==editclgnameid"><input type="text" #val placeholder={{prod.title}}>
          <button class="chekbtn" (click)="editclg(prod.id,val.value)">
            <i class="fa-solid fa-check" style="color: #75df58;"></i>
          </button>
          <button class="chekbtn" (click)="editclg(prod.id,prod.title)">
            <i class="fa-solid fa-xmark fa-lg" style="color: #ff0000;"></i>
          </button>
        </td>
        <td style="width: 40px;" (click)="changeinput(prod.id)">
          <i class="fa-solid fa-pen-to-square" style="color: #1b66b6;"></i>
        </td>
        <td style="width: 40px;" (click)="delclg(prod.id,prod.title)">
          <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
        </td>
        <!-- <td><span style="width: 50px; text-align: center;" class="material-icons">delete</span></td> -->
      </tr>

    </tbody>
  </table>



  <h1 style="margin-top: 100px; text-align: center; margin-bottom: 20px;">All Student Data</h1>
  <table cellPadding="5px 10px" style="width: 100%; align-items: center;text-align: center;" class="container">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gmail</th>
      <th>Phone No.</th>
      <th>Gender</th>
      <th>Collage</th>
      <th>DoB</th>
      <th></th>
      <th></th>
    </tr>

    <tr *ngFor="let temp of studentdata ">
      <td>{{temp.id}}</td>
      <td>{{temp.fname}}</td>
      <td>{{temp.lname}}</td>
      <td>{{temp.email}}</td>
      <td>+91 {{temp.phone}}</td>
      <td>{{temp.gender}}</td>
      <td>{{temp.clgname2}}</td>
      <td>{{temp.dob}}</td>
      <td style="width: 40px;" (click)="editUser(temp.id)">
        <i class="fa-solid fa-pen-to-square" style="color: #1b66b6;"></i>
      </td>
      <td style="width: 40px;" (click)="delstudent(temp.id)">
        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
      </td>
    </tr>
  </table>
</div>

<!-- prnavsadss÷ -->


<form [formGroup]="myForm" (ngSubmit)="sendstudentdata()" class="hide"
  [@disBox]="studentformshow ? 'dimmed' : 'notDimmed'">
  <h1 style="text-align: center; padding-top: 10px;">Student Details</h1>
  <hr>
  <div class="pad">

    <div class="flex name">
      <div>
        <label for="fname">First Name</label><br>
        
        <input formControlName="fname" type="text" id="fname"  name="fname" >
        
      </div>
      <div>
        <label for="lname">Last Name</label><br>
        <input style="margin-right: 0;" formControlName="lname" type="text" id="lname" name="lname">
      </div>
    </div>
    <div class="email">
      <label for="email" >Email Address</label>
      <br>
      <input formControlName="email" type="email" id="email" name="email">
      <br>
    </div>
    <div class="phone flex">
      <div>

        <label>Phone number</label>
        <br>
        <input formControlName="phone"  id="phone" type="tel" name="phone" />
      </div>
      <div>

        <label for="clgname">Collage</label><br>
        <select formControlName="clgname2" name="clgname2" id="clgname" >
          <option disabled selected>Select</option>
          <option *ngFor="let clg of data" value="{{clg.title}}">{{clg.title}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="flex datefield">
      <div>
        <label for="gender">Gender</label><br>
        <select formControlName="gender" name="gender" id="gender">
          <option value="" disabled selected>Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div style="margin-left: 10px;">
        <label for="date">Date of Birth</label><br>
        <input style="margin-right: 0;"  formControlName="dob" name="dob" type="date" id="date">

      </div>
    </div>
    <div class="flex btns">
      <input class="btn" type="submit" style="background-color: #007bff;" (click)="displaystdform()">
      <input class="btn" style="background-color: red;" type="button" id="email" name="email" value="Cancel"
        (click)="displaystdform()">
    </div>

  </div>

</form>



